
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------END RESET-------------------------------------
   ----------------------------------------------------------------------------*/



/* GLOBAL SECTION------------------------------------- */

body{
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
    color: #383838;
}

/* Styling on header-navigation links for current page */
#current-pg {
    background: #404040;
    border: 2px solid #404040;
    color: white;
}


/* HEADER SECTION------------------------------------- */
/* --------------------------------------------------- */

header {
    /*background-image: url("../pics/UI2-header-pic.jpg"); */
    background-size: 100%; 
    background-color: #39CCCC;
    position: fixed;
    width:100%;
    box-shadow: 0px 1px 5px #AAAAAA;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .6em;
    
}

.nav-content{
    padding: 1em;    
}

.nav-list {
    display: flex;
    margin: 1em 0 1em 1.5em;
}

.nav-list a, 
.main-text a,
footer a {
    text-decoration: none;
    border: 1px solid #383838 ;
    padding: .5em 1.5em;
    font-weight: 700;
    color: black;
}

.nav-list a:hover, 
.main-text a:hover,
footer a:hover {
    border: 2.25px solid black ;
    color: black;
}

.nav-list a:active, 
.main-text a:active,
footer a:hover {
    background: black;
    color: white;
}

/* CONTENT SECTION------------------------------------- */
/* --------------------------------------------------- */

.main-content-area {
    /* 160px compenstate for fixed header */
    padding: 160px 1em 1em;
    background-color: #f5f5f5;
}

.info-section {
    display: flex;
    margin-bottom: 1em;
}

.main-pic {
    width: 50%;
}
.main-pic img {
    max-width: 100%;
    box-shadow: 0px 2px 5px #404040;
}

.main-text {
    width: 40%;
    padding: 3em 3em 1em;
}

.main-text h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: .5em;
}

.main-text a{
    /* MAIN STYLING IN HEADER SECTION */
    display: inline-block;
    border: 2px solid #383838 ;
    margin-bottom: 1em;
}

.main-text p {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
}

/* GALLERY SECTION------------------------------------- */
/* --------------------------------------------------- */

.gallery-row {
    display:flex;
    justify-content:space-between;
    margin-bottom: 2em;
}

.image-cell {
    width:23%;
}

.image-cell img {
    width:100%;
    box-shadow: 0px 2px 5px #404040;
}

.image-cell img:hover {
    opacity: .5;
}

.image-cell p {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: #404040;
    margin: .5em 0;
}

/* FOOTER SECTION------------------------------------- */
/* --------------------------------------------------- */

footer {
    background-size: 100%; 
    background-color: #39CCCC;
}

.footer-content {
    text-align: center;
    padding: 4em 0;
}

footer p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

footer a {
    /* MAIN STYLING IN HEADER SECTION */
    border: 2px solid #003cb3 ;
}